<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="HTML，CSS，RWD，前端，線上課程，網頁設計">

  <!-- Google icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Index</title>
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/style/all.css">
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
    
      <a class="navbar-brand text-primary" href="index.html">HexHotal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">預定房間</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products.html">後台管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main id="productList">
  <section class="container">
    <loading :active.sync="isLoading"></loading>
    <h2 class="mt-2 mb-5 font-weight-bold text-primary">房間列表</h2>
    <button type="button" class="shoppingTop btn btn-secondary btn-lg text-decoration-none d-flex p-2"
      data-toggle="modal" data-target="#shoppingModal">
      <span class="material-icons">shopping_cart</span>
      <sup class="text-danger ml-n1">{{ shopping.data.length }}</sup>
    </button>
    <ul class="list__products row list-unstyled">
      <li class="col-4" v-for="(item, index) in hexAPI.data" :key="index">
        <div class="card mb-3">
          <img :src="item.imageUrl[0]" class="img-fluid rounded-top">
          <div class="card-body">
            <h5 class="font-weight-bold">{{item.title}}</h5>
            <p>{{item.content}}</p>
            <div class="d-flex justify-content-between">
              <p class="mb-0">原價 : <del>{{item.origin_price}}</del> </p>
              <p class="mb-0">早鳥 : {{item.price}}</p>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary">預覽房型</button>
            <button type="button" class="btn btn-primary" @click="addShopping(item.id)">預定房間</button>
          </div>
        </div>
      </li>
    </ul>

    <!-- shopping Modal -->
    <div class="modal fade" id="shoppingModal"  ref="shoppingModal" tabindex="-1" role="dialog" aria-labelledby="loginModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-secondary">
            <h5 class="modal-title font-weight-bold">購物車列表</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th>房間名稱</th>
                  <th class="text-right">價格</th>
                  <th class="text-center">間數</th>
                  <th class="text-center">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr  v-for="(item, index) in shopping.data" :key="index" class="border-top">
                  <td class="align-middle">{{ item.product.title }}</td>
                  <td class="align-middle text-right">{{ item.product.price }}</td>
                  <td class="align-middle text-center">{{ item.quantity }}</td>
                  <td class="align-middle text-center">
                    <button type="button" class="btn btn-secondary" @click="deleteShopping( item.product.id )">刪除</button>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <h3 class="text-right mr-4">總計金額 : NT.{{ shopping.moneyTotal }}</h3>
            <div class="modal-footer d-flex justify-content-around border-0">
              <button type="button" class="btn btn-primary" @click="deleteAll">Clean</button>
              <a href="" class="btn btn-info" @click.prevent="pay">結帳</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

  <footer class="bg-secondary py-2">
    <p class="mb-0 text-center">- Practice Vue -</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/74aada8adf.js" crossorigin="anonymous"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js"></script>

  <!-- Vue 第三方插件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>

  <script type="module">
    import * as validate from './assets/js/validate.js';
    import * as loading from './assets/js/loading.js';
    import * as all from './assets/js/index.js';
  </script>

 
  

</body>

</html>