<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="HTML，CSS，RWD，前端，線上課程，網頁設計">

  <!-- Google icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>Index</title>
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/style/all.css">
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
    
      <a class="navbar-brand text-primary" href="index.html">HexHotal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">預定房間</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products.html">後台管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
<main id="payment">
  <section class="container">
    <loading :active.sync="isLoading"></loading>
    <h2 id="peopleData" class="mt-2 mb-5 font-weight-bold text-primary">預定人資料</h2>
    <div class="row">
      <div class="col-6">
        <validation-observer v-slot="{ invalid }">
          <form @submit.prevent="submitForm">
            <validation-provider rules="required" v-slot="{ errors, classes }" tag="div" class="form-group">
              <label for="inputName" class="h3 font-weight-bold">姓名 <sup class="text-danger">*</sup> </label>
              <input type="text" id="inputName" name="姓名" placeholder="預定人姓名" class="form-control form-control-lg"
                :class="classes" v-model="person.name">
              <small class="invalid-feedback">{{ errors[0] }}</small>
            </validation-provider>
            <validation-provider rules="email|required" v-slot="{ errors, classes }" tag="div" class="form-group">
              <label for="inputEmail" class="h3 font-weight-bold">信箱 <sup class="text-danger">*</sup> </label>
              <input type="email" id="inputEmail" name="Email" placeholder="預定人信箱" class="form-control form-control-lg"
                :class="classes" v-model="person.email">
              <small class="invalid-feedback">{{ errors[0] }}</small>
            </validation-provider>
            <validation-provider rules="digits:10|required" v-slot="{ errors, classes }" tag="div" class="form-group">
              <label for="inputTel" class="h3 font-weight-bold">電話 <sup class="text-danger">*</sup> </label>
              <input type="tel" id="inputTel" name="電話" placeholder="預定人電話" class="form-control form-control-lg"
                :class="classes" v-model="person.phone">
              <small class="invalid-feedback">{{ errors[0] }}</small>
            </validation-provider>
            <validation-provider rules="min:6|required" v-slot="{ errors, classes }" tag="div" class="form-group">
              <label for="inputAddress" class="h3 font-weight-bold">地址 <sup class="text-danger">*</sup> </label>
              <input type="text" id="inputAddress" name="地址" placeholder="預定人地址"
                class="form-control form-control-lg" :class="classes" v-model="person.address">
              <small class="invalid-feedback">{{ errors[0] }}</small>
            </validation-provider>
            <div class="form-group">
              <label for="selectPay" class="h3 font-weight-bold">付款方式</label>
              <select name="selectPay" id="selectPay" class="form-control form-control-lg">
                <option value="" disabled>請選擇付款方式</option>
                <option :value="item" v-for="item in selectPay">{{item}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputRemarks" class="h3 font-weight-bold">留言</label>
              <textarea name="remarks" id="inputRemarks" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="d-flex justify-content-center mb-5">
              <input type="submit" class="btn btn-info btn-lg btn-block" value="結帳" :disabled="invalid">
            </div>
          </form>
        </validation-observer>
      </div>
      <div class="col-6">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>房間名稱</th>
              <th>房間預覽圖</th>
              <th class="text-right">價格</th>
              <th class="text-center">間數</th>
            </tr>
          </thead>
          <tbody>
            <tr  v-for="(item, index) in shopping.data" :key="index" class="border-top">
              <td class="align-middle">{{ item.product.title }}</td>
              <td class="align-middle">
                <img :src="item.product.imageUrl" alt="" class="product__img img-fluid rounded">
                
              </td>
              <td class="align-middle text-right">{{ item.product.price }}</td>
              <td class="align-middle text-center">{{ item.quantity }}</td>
            </tr>
          </tbody>
        </table>
        <h3 class="text-right mr-3">總計金額 : NT.{{ shopping.moneyTotal }}</h3>
      </div>
    </div>
  </section>
</main>

  <footer class="bg-secondary py-2">
    <p class="mb-0 text-center">- Practice Vue -</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/74aada8adf.js" crossorigin="anonymous"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js"></script>

  <!-- Vue 第三方插件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>

  <script type="module">
    import * as validate from './assets/js/validate.js';
    import * as loading from './assets/js/loading.js';
    import * as all from './assets/js/payment.js';
  </script>

 
  

</body>

</html>