<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="robots" content="HTML，CSS，RWD，前端，線上課程，網頁設計">

  <!-- Google icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title>products</title>
  <link href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3/dist/vue-loading.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/style/all.css">
</head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
    
      <a class="navbar-brand text-primary" href="index.html">HexHotal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">預定房間</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="products.html">後台管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main id="app">
  <!-- 表格形式 -->
  <section class="container">
    <div class="d-flex align-items-center">
      <h2 class="font-weight-bold d-flex justify-content-between text-primary mr-3">
        房間列表 (後臺管理)
      </h2>
      <a class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#signoutModal">
        Signout
      </a>
    </div>
    <div class="d-flex justify-content-end mb-2">
      <button type="button" class="btn btn-primary btn-lg px-3" data-toggle="modal" data-target="#addProductModal"
        @click="initData">新增房間</button>
    </div>
    <div class="table-responsive">
      <table class="table border-bottom">
        <thead>
          <tr>
            <th scope="row" class="text-nowrap">房間分類</th>
            <th scope="row" width="300px">房間名稱</th>
            <th scope="row">額外服務</th>
            <th scope="row" width="150px" class="text-right text-nowrap">原價</th>
            <th scope="row" width="150px" class="text-right text-nowrap">售價</th>
            <th scope="row" width="150px" class="text-center text-nowrap">是否開放</th>
            <th scope="row" class="text-nowrap">編輯</th>
          </tr>
        </thead>
        <tbody class="p-0">
          <tr v-for="(item, key) in hexAPI.data" :key="item.id">
            <td class="align-middle">{{item.category}}</td>
            <td class="align-middle">{{item.title}}</td>
            <td class="align-middle">
              <span v-for="(item, index) in item.services" :key="index">。{{item}} </span>
            </td>
            <td class="text-right align-middle">{{item.origin_price}}</td>
            <td class="text-right align-middle">{{item.price}}</td>
            <!-- <td class="text-center align-middle" >{{ isUpFn(item.enabled) }}</td> -->
            <td class="text-center align-middle">
              <span v-if="item.enabled" class="text-success">已開放</span>
              <span v-else class="text-danger">未開放</span>
            </td>
            <td class="pr-0">
              <button class="btn btn-warning" @click="copyData(item)" data-toggle="modal"
                data-target="#addProductModal">修改</button>
              <button class="btn btn-danger mr-0" @click="copyData(item)" data-toggle="modal"
                data-target="#deleteProductModal">刪除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-center ">
      <!-- <pagination> -> 元件自定義名稱 -->
      <!-- pages -> props，元件自定義屬性 -->
      <!-- v-bind:pages -> 帶入 Vue data裡的 pagination -->
      <!-- @emit-pages -> 自訂元件中，methods其中一個事件或函式，
        元件樣板內可以有大小寫，但網頁中的要加上 - 符號 -->
      <!-- getData -> Vue methods裡的其中一個函式 -->
      <!-- @emit-pages getData -->
      <pagination :pages="pagination" @emit-pages="getData"></pagination>
    </div>

    <!-- add/edit Modal -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header bg-dark">
            <h5 class="modal-title text-white font-weight-bold">新增房間</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="#">
              <div class="form-row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="" class="">房間圖片</label>
                    <input type="text" placeholder="請輸入圖片網址" class="form-control" v-model="temporary.imageUrl">
                  </div>
                  <img :src="temporary.imageUrl" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="" class="">房間名稱</label>
                    <input type="text" placeholder="產品名稱" class="form-control" v-model="temporary.title">
                  </div>
                  <div class="form-row justify-content-between">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="">房間分類</label>
                        <input type="text" placeholder="分類名稱" class="form-control" v-model="temporary.category">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="">單位</label>
                        <input type="text" placeholder="間" class="form-control" v-model="temporary.unit">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="">原價</label>
                        <input type="number" placeholder="" class="form-control" v-model="temporary.origin_price">
                      </div>
                    </div>

                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="">售價</label>
                        <input type="number" placeholder="" class="form-control" v-model="temporary.price">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="" class="">房間描述</label>
                    <textarea type="text" placeholder="" class="form-control"
                      v-model="temporary.description"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="" class="">房間內容</label>
                    <textarea type="text" placeholder="" class="form-control" v-model="temporary.content"></textarea>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" id="isUp" class="form-check-input" v-model="temporary.enabled">
                    <label for="isUp" class="form-check-label">是否開放</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="updateData" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- delete Modal -->
    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-danger">
            <h5 class="modal-title text-white font-weight-bold">刪除房間</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>是否刪除 <span class="text-danger"> {{ temporary.title }}</span> ? 刪除後將無法復原 !</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="deleteData" data-dismiss="modal">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- signout Modal -->
    <div class="modal fade" id="signoutModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title text-white font-weight-bold">是否登出 ?</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" @click="signout" data-dismiss="modal">登出</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

  <footer class="bg-secondary py-2">
    <p class="mb-0 text-center">- Practice Vue -</p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/74aada8adf.js" crossorigin="anonymous"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.9/dist/vue.js"></script>

  <!-- Vue 第三方插件 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/3.3.0/vee-validate.full.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@3"></script>

  <script type="module">
    import * as validate from './assets/js/validate.js';
    import * as loading from './assets/js/loading.js';
    import * as all from './assets/js/products.js';
  
  </script>

 
  

</body>

</html>